
<h4>LISTA DE CLASES</h4>

<hr>

<button *ngIf="data.typeuser" class="btn waves-effect light-blue darken-4 secondary-content" type="button" name="action" routerLink="/addClass/nuevo">Agregar
  <i class="material-icons right">add</i>
</button>

<div class="row">
  <div class="col">
    <app-class-card [data]="clases" [myclass]=false></app-class-card>
  </div>
  <div class="col m12" *ngIf="clases.length === 0">
    <div class="materialert">
      <h4>No hay registros<br/><br/><span style="font-weight: bold; font-size: 3.5rem;">!</span></h4>
    </div>  
  </div>
</div>